.main-container {
  background-color: #fff8f6;
  .section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 60.53px 25px;
    max-width: 1800px;
    overflow: hidden;
    @media (min-width: 768px) {
      height: 397px;
      padding: 0 0px 48px 48px;
    }
    @media (min-width: 1200px) {
      height: 620px;
      padding: 0px 0px 80px 100px;
      margin: 0 auto;
    }
    .image {
      display: none;
      margin-right: -5px;
      @media (min-width: 768px) {
        display: inline-flex;
        margin-left: 50px;
      }
      @media (min-width: 1200px) {
        width: 45%;
      }
    }
  }
}
